################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FileShare/v15
/FileShare/bin/Debug/netcoreapp2.1
/FileShare/obj
